<div class="golf-content">
  <h1>Golf Now,  <%= @name %></h1>
  <a href="/log_in"><%= @name %> is not my name!</a>
  <br>
  <div id="golf-game"></div>
  <div class="score-table">
    <table class='table-condensed table-striped table-hover table-bordered'>
      <tr>
        <td> Golfer </td>
        <td > Score </td>
        <td> Time </td>
      </tr>
      <% @champions.each do |champion| %>
        <tr>
          <td><%= champion.name %></td>
          <%= par_data champion.score %>
          <td><%= time_ago_in_words(champion.created_at) %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <h3>How to Play</h3>
  <p>Click and drag from anywhere on the course to hit the ball. You do 
    not need to start your drag from the ball.</p>
</div>
<script>
  var $el = $('#golf-game');
  var gameOverCallback = function(results){
    var score = results.score;
    var par = results.par;
    $.ajax({
      url: '/api/high_scores',
      method: 'post',
      data: { high_score: { score: results.score } }
    });
    alert('score: ' + score + " par: " + par);
  };
  MAPS = <%= Course.last.maps.pluck(:data).to_json.html_safe %>
  $(function(){
    var game = new EliteGolf($el[0], gameOverCallback);
    game.run();
  });
</script>
