<h2 class="inset"><%= course.escape('name') %></h2>
<div class='golf-game'></div>
<div class="score-table">
  <table class='table-condensed table-striped table-hover table-bordered'>
    <tr>
      <td> Golfer </td>
      <td > Score </td>
      <td> Time </td>
    </tr>
    <% course.highScores().each(function(champion){ %>
    <tr>
      <td><%= champion.escape('name') %></td>
      <td class="<%= champion.get('score_class') %>"><%=
        champion.escape('score_diff') %></td>
      <td><%= moment(champion.get('created_at')).fromNow() %></td>
    </tr>
    <% }) %>
  </table>
</div>
